# Node / TypeScript
node_modules/
dist/
build/
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Editor / OS
.vscode/
.idea/
*.swp
Thumbs.db
Desktop.ini

# Turborepo
.turbo
*.local
.cache
server/dist
public/dist

# Next.js
.next
dist-ssr

# macOS
.DS_Store
